@import "./constant";
@import "./variables";

.app__home {
  height: 130vh;
  background: $primary-color;
  padding: $ex-gap $md-gap;
  @include flexDirection;
  gap: 3rem;

  .home__text {
    text-align: center;

    h1 {
      @include textGradient;
      font-size: 5rem;
    }
  }

  .ticks__container {
    @include flexCenter;
    color: $secondary-color;
    gap: $lg-gap;

    p {
      @include flexAlign;
      gap: $t-gap;
      color: #fff;

      span {
        @include flexCenter;
        height: 20px;
        width: 20px;
        background: rgb(110, 190, 110);
        border-radius: 5px;
        color: $primary-color;
      }
    }
  }

  .input__container {
    @include inputContainer;

    button {
      background: $secondary-color;
    }
  }
}
